version: "3.5"
services:
  web:
    build:
      context: autogen_wings
    environment:
      NUXT_APP_BASE_URL: "/wings"
    networks:
      - nymph-stack
    labels:
      - "traefik.enable=true"
      - "traefik.group=nymph-stack"
      - "traefik.http.routers.wings.rule=PathPrefix(`/wings`)"
      - "traefik.http.services.wings.loadbalancer.server.port=3000"
      - "traefik.http.services.wings.loadbalancer.healthcheck.path=/wings/api/healthz"
      - "traefik.http.services.wings.loadbalancer.healthcheck.interval=30s"
    restart: always

networks:
  nymph-stack:
    external:
      name: nymph-stack
