version: "3.5"
services:
  web:
    image: caddy:2
    networks:
      - nymph-stack
    labels:
      - "traefik.enable=true"
      - "traefik.group=nymph-stack"
      - "traefik.http.routers.chew.rule=PathPrefix(`/chew`)"
      - "traefik.http.services.chew.loadbalancer.server.port=80"
      - "traefik.http.services.chew.loadbalancer.healthcheck.path=/"
      - "traefik.http.services.chew.loadbalancer.healthcheck.interval=30s"
    restart: always

  recv:
    image: ghcr.io/web-tech-tw/chew.recv:main
    container_name: chew-recv
    environment:
      APP_CONFIGURED: "1"
    env_file:
      - config.env
    networks:
      - sara
    ports:
      - 127.0.0.1:13040:3000
    volumes:
      - ../010-sara/keypair_public.pem:/workplace/keypair_public.pem:ro
    restart: always

networks:
  sara:
    external:
      name: sara
