version: "3.5"
services:
  web:
    image: caddy:2
    networks:
      - nymph-stack
    labels:
      - "traefik.enable=true"
      - "traefik.group=nymph-stack"
      - "traefik.http.routers.openchat.rule=PathPrefix(`/openchat`)"
      - "traefik.http.services.openchat.loadbalancer.server.port=80"
      - "traefik.http.services.openchat.loadbalancer.healthcheck.path=/"
      - "traefik.http.services.openchat.loadbalancer.healthcheck.interval=30s"
    restart: always

  recv:
    image: ghcr.io/web-tech-tw/openchat-join:main
    container_name: openchat-recv
    environment:
      APP_CONFIGURED: "1"
    env_file:
      - config.env
    networks:
      - sara
    ports:
      - 127.0.0.1:13030:3000
    volumes:
      - ../010-sara/keypair_public.pem:/workplace/keypair_public.pem:ro
      - ./secret.key:/workplace/secret.key:ro
    restart: always

networks:
  sara:
    external:
      name: sara
  nymph-stack:
    external:
      name: nymph-stack
